<style>
    body {
        font-family: "Lato", sans-serif;
        background-image: url("https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
#title1{
    color:red;
    font-family: Brush Script MT;
    font-size: 60px;

}
    h1 {
        color: aqua;
        font-family:Brush Script MT;
     
    }
h6{
    color  :white;
}
    .sidenav {
        height: 100%;

        overflow-x: hidden;
        padding-top: 20px;
    }



    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
    }

    @media screen and (max-width: 450px) {
        .formclass {
            margin-top: 10%;
        }


    }

    @media screen and (min-width: 768px) {

        .sidenav {
            width: 40%;
            position: fixed;
            z-index: 1;
            top: 0;
            margin-left: 15%;
        }

        .formclass {
            margin-top: 10%;
            margin-left: 50%;

        }


    }

    .formclass {
        width: 300px;
        padding: 5% 0 0;
        margin-top: 5%;
        margin-left: 60%;
    }

    form {
        position: relative;
        z-index: 1;
        margin: 0 auto 0;
        padding: 5%;
    }

    .login-main-text {
        margin-top: 20%;
        padding: 60px;
        
        font-weight: 300;
      
    }
h2{
    font-family: Brush Script MT;
    color:aquamarine;
}
    #d {
        color: white;
    }
    .copy{
        color:white;
    }
    small{
        color: maroon;

    }
    #hi{
        color:white;

    }
</style>
<html>

<head>
    <title>
        CONCERT KING
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="sidenav">
        <div class="login-main-text">
            <p id="title1">CONCERT KING</p>
            <h1>Home Of Concerts</h1><br>
            <br>
            <h6>We have been extending our services since many years,today we stand here presenting you online passes
                to almost all kinds of concerts in about 30 cities of india.<br>
            We thank you all for you continuous sopprt.<br>
            <p class=" copy mt-5 mb-3 text-muted text-center">© CONCERT KING</p>
            </h6>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <div class="formclass">
        <form method="POST" action="/login">
            <div class="form-group"> 
                <p id="hi"><b>Sign up to create an account. </p>
                <label for="exampleInputEmail1"><b>User Name<b></label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp "
                    placeholder="your name" name="username">
                    <%if(data.view!=null){%>
                        <small><%=data.msg1%></small>
                        <% } %>
                        
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" placeholder="Password"><b>Password<b></label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                <%if(data.view!=null){%>
                    <small><%=data.msg%></small>
                    <% } %>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="check">
                <label class="form-check-label" for="exampleCheck1"><b>Remember Me<b></label>
            </div>
            <button class="btn btn-primary ">LOG IN</button>
            <a href="#" id="d">Forgot Paswsword??</a>
            <br>
            <br></form>
            <form method="GET" action="/signup?">
            <button class="btn btn-info ">Sign up</button>
        </form>
    </div>
</body>

</html>